            <div class="it-foot-social">
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="{{t "Twitter"}}" target="_blank" rel="noopener" aria-label="{{t "Twitter"}}">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://github.com/satoshinotdead/" title="{{t "Github"}}" target="_blank" rel="noopener" aria-label="{{t "Github"}}">{{> "icons/github"}}</a>
                <a href="{{@site.url}}/rss/" title="{{t "RSS"}}" target="_blank" rel="noopener" aria-label="{{t "RSS"}}">{{> "icons/rss"}}</a>
            </div>