{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content">
        {{#has visibility="paid"}}
            <h2>{{ t 'Selected content' }}</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>{{ t 'Selected Random' }}</h2>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>{{ t 'Only for' }} {{tiers}}</h2>
        {{/has}}
            <p>{{ t 'You are special' }}</p>
        {{#if @member}}
            <a class="gh-btn" href="/profile" style="color:{{@site.accent_color}}">Sube un nivel</a>
        {{else}}
            <a class="gh-btn" href="/start"  style="color:{{@site.accent_color}}">START</a>
            <p>{{ t 'We know us?' }} <a href="/continue">CONTINUE</a></p>
        {{/if}}
    </div>
</aside>