{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content">
        {{#has visibility="paid"}}
            <h2>Este {{#is "page"}}enlace{{else}}artículo{{/is}} es exclusivo para miembros</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>Este {{#is "page"}}enlace{{else}}artículo{{/is}} es solo para registrados</h2>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>Este {{#is "page"}}enlace{{else}}artículo{{/is}} es solo para {{tiers}}!</h2>
        {{/has}}
            <p>Sumate para leer la historia completa y acceder a más beneficios.</p>
        {{#if @member}}
            <a class="gh-btn" href="/pj" style="color:{{@site.accent_color}}">Actualiza tu cuenta</a>
        {{else}}
            <a class="gh-btn" href="/start"  style="color:{{@site.accent_color}}">Empieza ahora</a>
            <p><small>Ya tienes cuenta? <a href="/continue">Ingresa</a></small></p>
        {{/if}}
    </div>
</aside>