<article class="item{{#if is_loop}} is-loop{{else if is_featured}} is-featured{{#match @custom.slider_size "Small"}} is-small{{/match}}{{else if is_special}} is-special{{/if}}{{#if feature_image}} is-image{{/if}}">
	{{#if feature_image}}
	<div class="item-image global-image global-image-orientation global-radius{{#if is_loop}}{{#match @custom.feed_images_orientation "Landscape"}} is-landscape{{else match @custom.feed_images_orientation "Square"}} is-square{{else match @custom.feed_images_orientation "Natural"}} is-natural{{/match}}{{/if}}{{#if is_featured}}{{#match @custom.slider_images_orientation "Landscape"}} is-landscape{{else match @custom.slider_images_orientation "Square"}} is-square{{else match @custom.slider_images_orientation "Natural"}} is-natural{{/match}}{{/if}}">
		{{#if is_featured}}{{#if @last}}<span class="is-last"></span>{{/if}}{{/if}}
		<a href="{{url}}" class="global-link" aria-label="{{title}}"></a>
		{{>images/loop_image}}
		<div class="item-authors global-authors">
			<div>
				{{#foreach authors to="5"}}
				<div class="item-author global-item-author{{#if profile_image}} is-image global-image{{/if}}">
					<a href="{{url}}" class="global-link" title="{{name}}"></a>
					{{#if profile_image}}
					{{>images/other_image other_image=profile_image alt=name}}
					{{else}}
					<span>{{name}}</span>
					{{/if}}
				</div>
				{{/foreach}}
			</div>
		</div>
	</div>
	{{/if}}
	<div class="item-content">
		{{^if is_special}}
		<div class="item-tags global-tags">
			{{>members/visibility_label}}{{#if tags}}{{tags limit="1" separator=""}}<span>{{tags from="2" limit="2" separator=""}}</span>{{/if}}
		</div>
		{{/if}}
		<h2 class="item-title"><a href="{{url}}">{{title}}</a></h2>
		{{#has any="excerpt,custom_excerpt"}}
		{{#if show_excerpt}}
		<p class="item-excerpt{{^if feature_image}} no-image{{/if}}">
			{{#if custom_excerpt}}{{custom_excerpt}}{{else if excerpt}}{{excerpt}}...{{/if}}
		</p>
		{{/if}}
		{{/has}}
	</div>
</article>