		<div class="newsletter">
			<div class ="container">
			<h1 class="newsletter-title">{{ t "First newsletter title" }}</h1>
								<p>{{t "Join free" }}</p>
			<form data-members-form="subscribe">
					<input type="email" class="input.email.home" placeholder="{{t " Email"}}" aria-label="{{t "Email"}}" data-members-email="">
					<button type="submit" class="newsletter-subscribe">{{t "Join now"}}</button>
                        <div class="message-text">
							<div class="message-success">{{t "Check your inbox"}}</div>
				<div class="message-error">{{t "An error occurred, please try again later."}}</div>
						</div>
			</form>
				<button class="letme">{{t "Let me read it first"}} {{> "icons/arrow"}}</button>
</div></div>