<div class="newsletter">
	<div class="gh-main">
		<div>
			<h1 class="newsletter-title">{{ t "First newsletter title" }}</h1>
			<p class="wide">
				<span>
					{{ t "First newsletter description" }}</span>
			</p>
			<form data-members-form="subscribe">
				<div class="newsletter-form">
					<input type="email" class="input.email.home" placeholder="{{t " Email"}}" aria-label="{{t "Email"}}" data-members-email="">
					<button type="submit" class="newsletter-subscribe">{{t "Subscribe"}}</button>
				</div>
				<div class="message-success">{{t "Please check your inbox and click the link to confirm your
					subscription."}}</div>
				<div class="message-error">{{t "An error occurred, please try again later."}}</div>
			</form>
			<div class="mb">
				<p>{{ t "We are" }} <b>10.000</b> {{ t "Cryptonauts" }}</p>
			</div>
			<div class="w-full letmeb">
				<button class="letme">{{t "Let me read it first"}} {{> "icons/arrow"}}</button>
			</div>
		</div>
	</div>
</div>