<div class="newsletter">
			<h1 class="newsletter-title">{{ t "First newsletter title" }}</h1>
			<p class="wide">
				<span>
					{{ t "First newsletter description" }}<br>
			</p>
			<form data-members-form="subscribe">
					<input type="email" class="input.email.home" placeholder="{{t " Email"}}" aria-label="{{t "Email"}}" data-members-email="">
					<button type="submit" class="newsletter-subscribe">{{t "Join now"}}</button>
			</form>
							<div class="message-success">{{t "Please check your inbox and click the link to confirm your
					subscription."}}</div>
				<div class="message-error">{{t "An error occurred, please try again later."}}</div>
			<div class="w-full letmeb">
				<button class="letme">{{t "Let me read it first"}} {{> "icons/arrow"}}</button>
			</div>
</div>