<a href="{{url}}" class="gh-postlist-item">
    <article>
        <h2 class="gh-postlist-item-title">{{title}}</h2>
        <time class="gh-postlist-item-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
        <span class="gh-postlist-item-duration">{{reading_time}}</span>
        <div class="right-arrow"><i class="fa fa-arrow-right"></i></div>
    </article>
</a>