{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#author}}
            <section class="gh-pagehead">
                <figure class="gh-author-image">
                {{#if profile_image}}
                    <a class="author-name-page" href="{{url}}"><img src="{{profile_image}}" alt="{{name}}"></a>
                {{else}}
                    <a class="author-name" href="{{url}}"><div class="gh-author-icon">{{> icons/avatar}}</div></a>
                {{/if}}
                </figure>

                <div class="gh-pagehead-content center">
                    <h2 class="gh-pagehead-title">{{name}}</h2>

                    {{#if bio}}
                        <div class="gh-author-bio gh-pagehead-description">{{bio}}</div>
                    {{/if}}
                </div>
                <hr>
            </section>
        {{/author}}

        <div class="gh-topic gh-topic-grid">
            <div class="gh-topic-content gh-feed">
                {{#foreach posts limit="all"}}
                    {{> "loop-grid"}}
                {{/foreach}}
            </div>
        </div>
    </div>
</main>