<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    
        <title>Sumate al Universo Criptonauta</title>
        
        <script>
            if(typeof(Storage) !== 'undefined') {
                if (localStorage.getItem('selected-theme') == 'light') {
                    document.documentElement.setAttribute('data-theme', 'light');
                }
                else if (localStorage.getItem('selected-theme') == 'dark') {
                    document.documentElement.setAttribute('data-theme', 'dark');
                }
            }
        </script>
        {{ghost_head}}
        {{!-- Outputs SEO meta+structured data and important settings, should always be in <head> --}}
    </head>
<body class="{{body_class}}">



{{#if @member.paid}}
    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
{{else if @member}}
    {{!-- Member: Redirect to Subscribe --}}
    <script>window.location = '{{@site.url}}/cuenta/';</script>
{{else}}


<!-- subscribe section start from here    -->
<div class="subscribe-section">
    {{#post}}
    
        {{#if feature_image}}
            <div class="custom-feature-sign">
                <img class="lazy" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 1600w"
                sizes="(max-width: 600px) 600px, (max-width: 1160px) 1000px, 1140px"
                src="{{img_url feature_image size="m"}}"
                data-src="{{img_url feature_image size="m"}}"
                alt="{{title}}"
            />
            </div>
        {{/if}}
        <div class="{{#if feature_image}}signup-form{{else}}custom-no-feature-sign{{/if}}">
            <div class="cus-sign-box subscribe-title">
                    <h2>{{t "Signup to"}}</h2>
                <div class="form-inner-content">
                    <form data-members-form="signup">
                <div class="login-text">
                    <p>{{ t "Start free" }}</p>
                </div>
                        <div class="message-text">
                            <div class="message-success">
                                {{{t "Check your inbox"}}}
                            </div>
                            <div class="message-error">
                                {{t "Please enter a valid email address!"}}
                            </div>
                        </div>
                        <div>
                            <div class="single-input mb-20">
                                <input data-members-email class="form-control" type="email" required placeholder="{{t "Enter your email"}}">
                            </div>
                            <div class="subscribe-btn align-items-center">
                                <button  type="submit" class="btn btn-sign">
                                    <span class="button-text">{{t "Continue"}}</span>
                                    <span class="button-loader">{{> "icons/loader"}}</span>
                                </button>
                            </div>
                        </div>
                        <p>{{t "Already have an account?"}}</br><a href="{{@site.url}}/ingresa/">{{t "Sign in"}}</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/post}}
{{/if}}
<!-- // subscribe section end from here   -->



{{!-- Jquery scripts --}}
 {{!-- {{> "membership/notifications"}} --}}
{{> "site-structure/site-scripts"}} 
{{{block "scripts"}}}


{{!-- ghost footer --}}
{{ghost_foot}}

</body>
</html>