{{!< default}}
{{#page}}

<div class="it-page it-pricing">
	<div class="it-container">
		<div class="it-checkout-form it-canvas">
      <h1 class="it-checkout-title it-title-highlight">{{title}}</h1>
      <p>{{custom_excerpt}}</p>
      <div class="it-checkout-box it-grid-c3">
        {{> "members/tiers"}}
      </div>

      <div class="it-content">
        {{content}}

      </div>

<div class="faq-section global-padding">
	<div class="faq-wrap">
		<h2 class="faq-title">{{t "FAQs"}}</h2>
		<div class="faq-content">
			{{content}}
		</div>
	</div>
</div>

        {{^if @member}}
          <div class="it-subscribe-section">
              <h2 class="it-checkout-title it-title-highlight">{{t "Or Become a free Member"}}</h2>
              <p>{{t "To stay up to date with our members only contents straight to your inbox"}}</p>
              <div class="it-subscribe-content">
                <form data-members-form="subscribe" class="subscribe-form">
                  <div class="input-wrapper">
                    <input type="email" class="subscribe-form-input" placeholder="{{t "Enter your email address"}}" aria-label="{{t "Email"}}" data-members-email="" required="true">
                    <button type="submit" class="subscribe-form-button it-button it-button-primary">{{t "Subscribe"}}</button>
                  </div>
                  <div class="message-success">{{t "Please check your inbox and click the link to confirm your subscription."}}</div>
                  <div class="message-error">{{t "An error occurred, please try again later."}}</div>
                </form>
              </div>
            </div>
        {{/if}}
{{#get "posts" limit="6" filter="visibility:[members,paid,tiers]+feature_image:-null" include="authors" as |special_posts|}}
	{{#if special_posts}}
		{{>related label=(t "Last insights for Randoms, Padawans & Criptonautas 🔥")}}
	{{/if}}
{{/get}}
    </div>
    </div>
	</div>
</div>
{{/page}}