<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    
        <title>{{meta_title}}</title>
        
        <script>
    
            if(typeof(Storage) !== 'undefined') {
                if (localStorage.getItem('selected-theme') == 'light') {
                    document.documentElement.setAttribute('data-theme', 'light');
                }
                else if (localStorage.getItem('selected-theme') == 'dark') {
                    document.documentElement.setAttribute('data-theme', 'dark');
                }
            }

        </script>
        {{ghost_head}}
        {{!-- Outputs SEO meta+structured data and important settings, should always be in <head> --}}
    </head>

<body class="{{body_class}}">



{{^if @member.paid}}
    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
{{else if @member}}
    {{!-- Member: Redirect to Subscribe --}}
    <script>window.location = '{{@site.url}}/account/';</script>
{{else}}


<!-- subscribe section start from here    -->
<div class="subscribe-section min-vh-100">
    {{#post}}
    <div class="sign-wrapper">

        <div class="custom-no-feature-sign mx-auto">
            <div class="cus-sign-box">
                    <header class="mainhead">
                    <a class="home-link" href="{{@site.url}}">
                        {{#if @custom.white_publication_logo_for_transparent_header}}
        <img class="logo-light" src="{{@site.logo}}" alt="{{@site.title}}">
        <img class="logo-dark" src="{{@custom.white_publication_logo_for_transparent_header}}" alt="{{@site.title}}">
    {{else}}
        <img src="{{@site.logo}}" alt="{{@site.title}}">
    {{/if}}
                    </a>
                </header>
                <div class="subscribe-title mb-40">
                    <p>{{ t "Continue to your account" }}</p>
                </div>
                <div class="form-inner-content">
                        <div class="message-text">
                            <div class="message-success">
                                {{{t "<strong>Please</strong> check your inbox and click the link to confirm your subscription."}}}
                            </div>
                            <div class="message-error">
                                {{t "Please enter a valid email address!"}}
                            </div>

                    <form data-members-form="signin">
                        <div>
                            <div class="single-input mb-20">
                                <input data-members-email class="form-control" type="email" required placeholder="{{t "Email address"}}">
                            </div>
                            
                            <div class="subscribe-btn d-flex align-items-center">
                                <button  type="submit" class="btn btn-sign">
                                    <span class="button-text">{{t "Send login link"}}</span>
                                    <span class="button-loader">{{> "icons/loader"}}</span>
                                </button>
                            </div>
                        </div>
                        <p>{{t "Don't have an account yet?"}}<br><a href="{{@site.url}}/registro/">&nbsp;{{t "Sign up"}}</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/post}}
</div>
{{/if}}
<!-- // subscribe section end from here   -->


{{!-- Jquery scripts --}}
{{!-- {{> "membership/notifications"}} --}}
{{> "site-structure/site-scripts"}} 
{{{block "scripts"}}}

{{!-- ghost footer --}}
{{ghost_foot}}

</body>
</html>

