{{!< default}}
{{#post}}
{{#if @member.paid}}
<main class="gh-main gh-outer">
    <div class="gh-inner">
<div class="account-section">
	<div class="account-header archive-section is-image">
		<div class="account-image archive-image global-image">
			{{>icons/user}}
			{{#if @member.avatar_image}}
			<img src="{{@member.avatar_image}}">
			{{/if}}
		</div>
		<h1 class="archive-title global-title">{{t "hi"}} {{#if @member.name}}{{@member.name}}{{else}}{{t "Your account"}}{{/if}}!</h1>
		<p class="archive-excerpt global-excerpt">
			{{#if custom_excerpt}}
			{{custom_excerpt}}
			{{else}}
			{{t "You're a Cryptonaut"}}
			{{/if}}
		</p>
		{{#foreach @member.subscriptions}}
		<div class="account-details">
			<div class="account-details-wrap global-radius">
				<h2 class="account-details-title">{{t "Account details"}}</h2>
				<div class="account-details-content">
					<div class="account-detail-column">
						<div>
							<label class="account-detail-heading">{{t "Email address"}}</label>
							<span class="account-detail-content">{{@member.email}}</span>
						</div>
						<div>
							<label class="account-detail-heading">{{t "Your plan"}}</label>
							<span class="account-detail-content">{{plan.nickname}} — {{price plan}}/{{plan.interval}}</span>
						</div>
					</div>
					<div class="account-detail-column">
						<div>
							<label class="account-detail-heading">{{t "Card"}}</label>
							<span class="account-detail-content">**** **** **** {{default_payment_card_last4}}</span>
						</div>
						<div>
							<label class="account-detail-heading">
								{{#if cancel_at_period_end}}
								{{t "Expires"}}
								{{else}}
								{{t "Next bill date"}}
								{{/if}}
							</label>
							<span class="account-detail-content">{{date current_period_end format="DD MMM YYYY"}}</span>
						</div>
					</div>
					{{#if cancel_at_period_end}}
					<small class="account-alert-expired">
					{{t "Your subscription will expire on"}} — {{date current_period_end format="DD MMMM YYYY"}}. {{t "If you change your mind in the meantime you can turn auto-renew back on to continue your subscription."}}
					</small>
					{{/if}}
					<div class="account-buttons">
				<a href="javascript:" class="account-button gh-portal-close" data-portal="account">Account settings</a>
			</div>
					<div class="account-signout-wrap">
						<span class="account-signout global-button" data-members-signout>{{t "Sign out"}}</span>
					</div>
				</div>
			</div>
		</div>
		{{/foreach}}
	</div>
</div>
{{#get "posts" limit="6" filter="visibility:[members,paid]+feature_image:-null" include="authors" as |special_posts|}}
{{/get}}
{{else if @member}}
<div class="account-section">
	<div class="account-header archive-section is-image">
		<div class="account-image archive-image global-image">
			{{>icons/user}}
			{{#if @member.avatar_image}}
			<img src="{{@member.avatar_image}}" size="s" alt="{{name}}" format="webp">
			{{/if}}
		</div>
		<h1 class="archive-title global-title">{{#if @member.name}}{{@member.name}}{{else}}{{t "Your account"}}{{/if}}</h1>
		<p class="archive-excerpt global-excerpt">
			{{#if custom_excerpt}}
			{{custom_excerpt}}
			{{else}}
			{{t "First level subscription"}}
			<p class="archive-excerpt global-excerpt">&nbsp;</p>
					{{>members/tiers}}
			{{/if}}
		</p>
		<div class="account-details">
			<div class="account-details-wrap global-radius">
				<div class="account-details-content">
					<div class="account-signout-wrap">
						<span class="account-signout global-button" data-members-signout>{{t "Sign out"}}</span>
					</div>
				</div>
			</div>
			<div class="account-buttons">
				<a href="javascript:" class="account-button" data-portal="account">{{t "Account settings"}}</a>
			</div>
		</div>
	</div>
</div>
{{#get "posts" limit="6" filter="visibility:[members,paid]+feature_image:-null" include="authors" as |special_posts|}}
{{/get}}
{{else}}
{{#contentFor "scripts"}}
<script>window.addEventListener("load",function(){window.location='{{@site.url}}'})</script>
{{/contentFor}}
</main></div>
{{/if}}
{{/post}}