{{!< default}}

<main class="gh-main">
{{#post}}
    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            
                {{#if feature_image}}
                    <figure class="gh-article-image">
                        <img
                                    loading="lazy"
                            srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                                    {{img_url feature_image size="m" format="webp"}} 720w,
                                    {{img_url feature_image size="l" format="webp"}} 960w,
                                    {{img_url feature_image size="xl" format="webp"}} 1200w,
                                    {{img_url feature_image size="xxl" format="webp"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl" format="webp"}}"
                            alt="{{title}}"
                        >
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
        </header>

        <section class="gh-content gh-canvas">
            {{content}}
<button class="gh-head-btn gh-btn shadow"onclick="Typebot.open()">I take the red one!</button>
        </section>
<script>const typebotInitScript = document.createElement("script");
typebotInitScript.type = "module";
typebotInitScript.innerHTML = `import Typebot from 'https://cdn.jsdelivr.net/gh/somos-criptonautas/typebot.js/typebot.min.js'

Typebot.initBubble({
  typebot: "working",
  apiHost: "https://bot.criptonautas.co",
});
`;
document.body.append(typebotInitScript);
</script>
    </article>
</main>

{{/post}}