{{!< default}} <main class="gh-main">
    {{#post}}
    <article class="gh-article {{post_class}}">
        <header class="gh-article-header gh-canvas">
            {{#if feature_image}}
            <figure class="gh-article-image">
                <img loading="lazy" srcset="{{img_url feature_image size=" s" format="webp" }} 300w, {{img_url
                    feature_image size="m" format="webp" }} 720w, {{img_url feature_image size="l" format="webp" }}
                    960w, {{img_url feature_image size="xl" format="webp" }} 1200w, {{img_url feature_image size="xxl"
                    format="webp" }} 2000w" sizes="(max-width: 1200px) 100vw, 1200px"
                    src="{{img_url feature_image size=" xl" format="webp" }}" alt="{{title}}">
                {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}

            {{#if primary_tag}}
            <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}

            <h1 class="gh-article-title">{{title}}</h1>
        </header>
        {{#is "post"}}
        <div class="gh-author">
            {{#if custom_excerpt}}
            <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{> "post-meta"}}
        </div>
        <div class="gh-full-content">
            <aside class="gh-sidebar" id="sidebar-toc">
                {{#if reading_time}}
                <h3>
                    {{reading_time minute="⌚ > 1 de libertad" minutes="⌚ % de libertad"}}
                </h3>
                {{/if}}
                <div class="toc">
                </div>
            </aside>
            <section class="gh-content gh-canvas">
                {{content}}
                <div class="comments-section">
                    <div class="comments-wrap">
                        <small class="global-subtitle-title">{{t "Member discussion"}}</small>
                        <div id="cusdis_thread" class="disqus-lazy comments-content"
                            data-host="https://comments.reseteo.co" data-page-id="{{id}}"
                            data-page-url="{{url absolute=" true"}}" data-page-title="{{title}}">
                        </div>
                    </div>
                </div>
            </section>
            {{/is}}
        </div>
    </article>
    {{/post}}
    {{> "related-posts"}}
    </main>
    {{#contentFor "body_class"}} has-wide-image{{/contentFor}}