{{!< default}}
{{#post}}
<div class="archive-section">
	<h1 class="global-title">{{title}}</h1>
	{{#if custom_excerpt}}
	<p class="archive-excerpt global-excerpt">{{custom_excerpt}}</p>
	{{/if}}
</div>
<div class="custom-archive loop-section global-padding">
	<div class="global-subtitle">
		<small class="global-subtitle-title">
		{{{t "Meet our {start-bold}authors{end-bold}" start-bold="<span>" end-bold="</span>"}}}
		</small>
	</div>
	{{#get "authors" limit="all" include="count.posts" order="count.posts desc" as |authors|}}
	{{#if authors}}
	<div class="loop-wrap is-authors">
		{{#foreach authors}}
		{{#if count.posts}}
		<div class="item is-loop">
			{{#if profile_image}}
			<div class="item-image global-image global-image-orientation global-radius">
				<a href="{{url}}" class="global-link" aria-label="{{name}}"></a>
				{{>images/archive_image archive_image=profile_image}}
			</div>
			{{/if}}
			<div class="item-content">
				<h2 class="item-title"><a href="{{url}}">{{name}}</a></h2>
				<small>{{#if location}}{{t "from"}} {{location}} ∙ {{/if}}{{plural count.posts empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</small>
				{{#if bio}}
				<p class="item-excerpt">
					{{bio}}
				</p>
				{{/if}}
			</div>
		</div>
		{{/if}}
		{{/foreach}}
	</div>
	{{/if}}
	{{/get}}
</div>
{{/post}}