<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
<link rel="preconnect" href="https://comunidad.criptonautas.co">
    {{ghost_head}}

</head>

<body class="{{body_class}}{{{block "body_class"}}} {{#if @site.description}}is-head-b--a_n{{else}}is-head-b--n--a{{/if}}{{#is "tag"}}{{#if tag.feature_image}} is-head-transparent{{/if}}{{/is}}{{#match @custom.header_style "Accent color"}} is-head-brand{{/match}}{{#match @custom.header_style "Dark"}} is-head-dark{{/match}}">
    <div class="gh-site">
        <header id="gh-head" class="gh-head gh-outer">
            <div class="gh-head-inner gh-inner">
                <div class="gh-head-brand">
                    <div class="gh-head-brand-wrapper">
                    {{#is "home"}}<h1 class="gh-head-logo">{{/is}}
                    <a {{^is "home"}}class="gh-head-logo"{{/is}} href="{{@site.url}}">
                            {{#if @site.logo}}
        <img class="logo-light" src="{{@site.logo}}" alt="{{@site.title}}">
        <img class="logo-dark" src="{{@custom.white_publication_logo_for_transparent_header}}" alt="{{@site.title}}">
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                    </div>
                </div>
                    <button id="gh-burger" class="gh-burger"></button>
                <nav class="gh-head-menu">
                    {{navigation}}
                </nav>
                <div class="gh-head-actions">
                    <div class ="actions-container">
                                            {{#unless @member}}
                        <a aria-label="signup-button" title="start here" class="gh-head-btn gh-btn shadow" href="{{@site.url}}/start">{{ t "Subscribe" }}</a>
                    {{else}}
                        <a aria-label="signin-button" title="continue"  class="gh-head-btn gh-btn shadow" href="{{@site.url}}/profile">{{ t "Account" }}</a>
                    {{/unless}}
                    <div class="nav-icons">
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    <div class="it-dark-light gh-icon-btn">
                    <div class="icon-dark">
                        {{> icons/light}}
                    </div>
                    <div class="icon-light">
                        {{> icons/dark}}
                    </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </header>
            </div>
        <main class="gh-main">
{{#post}}
    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            
                {{#if feature_image}}
                    <figure class="gh-article-image">
                        <img
                                    loading="lazy"
                            srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                                    {{img_url feature_image size="m" format="webp"}} 720w,
                                    {{img_url feature_image size="l" format="webp"}} 960w,
                                    {{img_url feature_image size="xl" format="webp"}} 1200w,
                                    {{img_url feature_image size="xxl" format="webp"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl" format="webp"}}"
                            alt="{{title}}"
                        >
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
        </header>

        <section class="gh-content gh-canvas">
            {{content}}
        </section>

    </article>
</main>
        <footer class="gh-foot gh-outer">
            <div class="gh-foot-inner gh-inner">                     
    <section>
<div class="footer-criptonauta hidden">
                        <nav class="gh-foot-menu">
                    {{navigation type="secondary"}}
                </nav>
            <div class="it-foot-social">
                <a href="https://comunidad.criptonautas.co/" class="discourse" title="{{t "Discourse"}}" target="_blank" rel="noopener" aria-label="{{t "Discourse"}}">{{> "icons/discourse"}}</a>
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="{{t "Twitter"}}" target="_blank" rel="noopener" aria-label="{{t "Twitter"}}">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://github.com/somos-criptonautas/" class="github" title="{{t "Github"}}" target="_blank" rel="noopener" aria-label="{{t "Github"}}">{{> "icons/github"}}</a>
                <a href="{{@site.url}}/rss/" class="rss" title="{{t "RSS"}}" target="_blank" rel="noopener" aria-label="{{t "RSS"}}">{{> "icons/rss"}}</a>
            </div>
                <div class="gh-copyright">
                    {{#unless @custom.footer_text}}
                <p>Criptonautas&nbsp;{{ t "is licensed under" }}  <a href="https://comunidad.criptonautas.co/t/actualizamos-la-licencia-de-criptonautas/3864" rel="license">Polyform</a><br>{{ t "with 🧘‍♂️" }} <a href="https://matenauta.co" title="matenauta's lab" target="_blank" rel="noopener">matenauta</a></p>

                    {{else}}
                        {{@custom.footer_text}}
                    {{/unless}}
                </div>
    </div>
</div>

{{> "site-structure/site-scripts"}} 
        {{{block "scripts"}}}
{{ghost_foot}}
</body>

</html>