{{!< default}}

<main class="gh-main">
    {{#is "post"}}
        <article class="gh-article {{post_class}}">
            <header class="gh-article-header gh-canvas">
                {{#if feature_image}}
                    <figure class="gh-article-image">
                        <img
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w,
                                    {{img_url feature_image size="xl"}} 1200w,
                                    {{img_url feature_image size="xxl"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl"}}"
                            alt="{{title}}"
                        >
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}

                {{#if primary_tag}}
                    <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}

                <h1 class="gh-article-title">{{title}}</h1>
            </header>
    <div class="gh-author-criptonaut">
                        {{#if custom_excerpt}}
                    <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                {{> "post-meta"}}
    </div>
    <div class="gh-full-content">
<aside class="gh-sidebar" id="sidebar-toc">
                {{#if reading_time}}
                <h3>
                    {{reading_time minute="⌚ > 1 min de lectura" minutes="⌚ % mins de lectura"}}
                </h3>
                {{/if}}
            <div class="toc">
            </div></aside>
            <section class="gh-content gh-canvas toc-content">
            {{content}}
    {{else}}
            <section class="gh-content gh-canvas">
            {{content}}
            </section>
        </article>
    {{/is}}
        {{> "comments"}}
    {{/post}}
    
    {{> "related-posts"}}

</main>

{{#contentFor "body_class"}} has-wide-image{{/contentFor}}