{{!< default}}
{{#post}}
{{#if @member}}
<main class="gh-main gh-outer">
    <div class="gh-inner">
		<div class="account-section">
	<div class="account-header archive-section is-image">
		<div class="account-image archive-image global-image">
			{{#if @member.avatar_image}}
			<img src="{{@member.avatar_image}}" size="s" alt="{{name}}" format="webp">
			{{else}}
			<div class="account-emoji">{{>icons/user}}</div>
			{{/if}}
		</div>
		<h1 class="archive-title global-title">{{ t "hi"}} {{#if @member.name}}{{@member.name}}{{else}}{{t "nauta"}}{{/if}} 👋</h1>
		<span class="archive-excerpt level"></span>
		<span class="archive-excerpt global-excerpt">
			{{t "Tourist description"}}
			{{t "You need to contribute"}}
		</span>
		<div class="account-details">
			<div class="account-details-wrap global-radius">
				<div class="account-details-content">
					<div class="account-detail-column">
						<div>
							<label class="account-detail-heading">{{t "Email address"}}</label>
							<span class="account-detail-content">{{@member.email}}</span>
						</div>
					</div>
					<a href="javascript:" class="account-button" data-portal="account">Account settings</a>
					<div class="account-signout-wrap">
						<span class="account-signout global-button" data-members-signout>{{t "Sign out"}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{#get "posts" limit="6" filter="visibility:[members,paid]+feature_image:-null" include="authors" as |special_posts|}}
{{/get}}
{{else}}
{{#contentFor "script_js"}}
<script>window.addEventListener("load",function(){window.location='{{@site.url}}'})</script>
{{/contentFor}}
</main></div>
{{/if}}
{{/post}}