{{!< default}}

<main class="gh-main">
{{#post}}
    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            
                {{#if feature_image}}
                    <figure class="gh-article-image">
                        <img
                                    loading="lazy"
                            srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                                    {{img_url feature_image size="m" format="webp"}} 720w,
                                    {{img_url feature_image size="l" format="webp"}} 960w,
                                    {{img_url feature_image size="xl" format="webp"}} 1200w,
                                    {{img_url feature_image size="xxl" format="webp"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl" format="webp"}}"
                            alt="{{title}}"
                        >
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
        </header>

        <section class="gh-content gh-canvas">
            {{content}}
            {{^if @member.name}}
<form data-members-form>
  <input data-members-name type="text" required="true"/>
  <button type="submit">I take the red one!</button>
</form>
{{else}}
<button class="submit" onclick="Typebot.open()">I take the red one!</button>
{{/if}}
        </section>
<script>const typebotInitScript = document.createElement("script");
typebotInitScript.type = "module";
typebotInitScript.innerHTML = `import Typebot from 'https://cdn.jsdelivr.net/npm/@typebot.io/js@0.0/dist/web.js'

Typebot.initBubble({
  typebot: "subscription-qbg88y1",
  apiHost: "https://bot.criptonautas.co",
  previewMessage: {
    message: "te gustaría sumarte?",
    autoShowDelay: 5000,
    avatarUrl: "https://avatars.githubusercontent.com/u/98671738?v=4",
  },
  theme: {
    button: { backgroundColor: "#5107ed", iconColor: "#FFFFFF" },
    previewMessage: { backgroundColor: "white", textColor: "black" },
  },
});
`;
document.body.append(typebotInitScript);
</script>
    </article>
</main>

{{/post}}