{{!< default}}

<main class="gh-main">
    {{#post}}
        <article class="gh-article {{post_class}}">

            <header class="gh-article-header gh-canvas">
                {{#if primary_tag}}
                    <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}

                <h1 class="gh-article-title">{{title}}</h1>

                {{#if feature_image}}
                    <figure class="gh-article-image">
                        <img
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w,
                                    {{img_url feature_image size="xl"}} 1200w,
                                    {{img_url feature_image size="xxl"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl"}}"
                            alt="{{title}}"
                        >
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
            </header>
    <div class="gh-author-criptonaut">
                        {{#if custom_excerpt}}
                    <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                {{> "post-meta"}}
    </div>
    <div class="gh-full-content">
    {{#is "post"}}
<aside class="gh-sidebar" id="sidebar-toc">
                {{#if reading_time}}
                <h3>
                    {{reading_time minute="⌚ > 1 min de lectura" minutes="⌚ % mins de lectura"}}
                </h3>
                {{/if}}
            <div class="toc">
            </div>
</aside>
            <section class="gh-content gh-canvas toc-content">
            {{content}}
            </section>
{{/is}}
</div>
        </article>
    {{#post}}
        {{> "comments"}}
    {{/post}}
    {{> "related-posts"}}
</main>
    {{#contentFor "scripts"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.min.js"></script>
    <script>
            document.addEventListener("DOMContentLoaded", () => {
            tocbot.init({
                tocSelector: '.toc',
                contentSelector: '.toc-content',
                headingSelector: 'h1',
                hasInnerContainers: true,
                scrollSmooth: true,
                scrollSmoothDuration: 420,
                headingsOffset: 40,
                scrollSmoothOffset: -40
            });
            var toc = document.getElementsByClassName('toc')[0];
            if (toc.childNodes.length < 1) {
                document.getElementById('sidebar-toc').hidden = true
            }
        })
    </script>
    {{/contentFor}}
    {{#contentFor "footer"}}
    {{/contentFor}}
