{{!< default}}
{{#tag}}
<div class="archive-section{{#if feature_image}} is-image{{/if}}">
	{{#if feature_image}}
	<div class="archive-image global-image">
		                        <img
                                    loading="lazy"
                            srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                                    {{img_url feature_image size="m" format="webp"}} 720w,
                                    {{img_url feature_image size="l" format="webp"}} 960w,
                                    {{img_url feature_image size="xl" format="webp"}} 1200w,
                                    {{img_url feature_image size="xxl" format="webp"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{images/other_image other_image=feature_image size="m" format="webp"}}"
                            alt="{{title}}"
                        >
	</div>
	{{/if}}
	<h1 class="archive-title global-title is-tag">{{name}}<span>{{../pagination.total}}</span></h1>
	{{#if description}}
	<p class="archive-excerpt global-excerpt">{{description}}</p>
	{{/if}}
</div>
{{/tag}}
{{>loop}}
{{pagination}}