<div class="membership-section global-padding">
	<div class="membership-wrap global-radius{{#if feature_image}} global-bg-image" style="background-image: url({{feature_image}}){{/if}}">
		<div class="membership-switch" data-active-price="monthly">
			<button data-price="monthly">{{t "Monthly"}}</button>
			<button data-price="yearly">{{t "Yearly"}}</button>
		</di
		<div class="membership-cards">
			{{#if @member.paid}}
			{{#get "tiers" include="monthly_price,yearly_price,benefits" filter="type:paid" limit="all"}}
			{{#foreach tiers}}
			<div class="membership-card">
				<div class="membership-card-content">
					<div class="membership-card-label">{{name}}</div>
					<h2 class="membership-card-price" data-monthly>{{#if monthly_price}}{{price currency=currency}}{{price monthly_price}}{{else}}$0{{/if}}<span>/{{t "month"}}</span></h2>
					<h2 class="membership-card-price" data-yearly>{{#if yearly_price}}{{price currency=currency}}{{price yearly_price}}{{else}}$0{{/if}}<span>/{{t "year"}}</span></h2>
					{{#if description}}<p>{{description}}</p>{{/if}}
					{{#if benefits}}
					<div class="membership-card-list">
						<div class="align-left">
						<ul>
							{{#foreach benefits as |benefit|}}
							<li>{{benefit}}</li>
							{{/foreach}}
						</ul>
						</div>
					</div>
					{{/if}}
				</div>
				<a href="{{@site.url}}/start/" class="membership-button global-button">{{t "Sign up for free"}}</a>
			</div>
			{{/foreach}}
			{{/get}}
			{{else if @member}}
			{{#get "tiers" include="monthly_price,yearly_price,benefits" filter="type:paid" limit="1"}}
			{{#foreach tiers}}
			<div class="membership-card">
				<div class="membership-card-content">
					<div class="membership-card-label">{{name}}</div>
					<h2 class="membership-card-price" data-monthly>{{#if monthly_price}}{{price currency=currency}}{{price monthly_price}}{{else}}$0{{/if}}<span>/{{t "month"}}</span></h2>
					<h2 class="membership-card-price" data-yearly>{{#if yearly_price}}{{price currency=currency}}{{price yearly_price}}{{else}}$0{{/if}}<span>/{{t "year"}}</span></h2>
					{{#if description}}<p>{{description}}</p>{{/if}}
					{{#if benefits}}
					<div class="membership-card-list">
						<div class="align-left">
						<ul>
							{{#foreach benefits as |benefit|}}
							<li>{{benefit}}</li>
							{{/foreach}}
						</ul>
						</div>
					</div>
					{{/if}}
				</div>
				<span class="global-button-wrapper">
				<a href="javascript:" data-portal="signup/{{id}}/monthly" class="membership-button global-button pointer-events-none" data-monthly>{{t "Sign up now"}}</a>
				<a href="javascript:" data-portal="signup/{{id}}/yearly" class="membership-button global-button pointer-events-none" data-yearly>{{t "Sign up now"}}</a>
				</span>
			</div>
			{{/foreach}}
			{{/get}}
			{{else}}
			{{#get "tiers" include="benefits" filter="visibility:public+type:free" limit="1"}}
			{{#foreach tiers}}
			<div class="membership-card">
				<div class="membership-card-content">
					<div class="membership-card-label">{{name}}</div>
					<h2 class="membership-card-price">{{t "$"}}0</h2>
					{{#if description}}<p>{{description}}</p>{{/if}}
					{{#if benefits}}
					<div class="membership-card-list">
						<ul>
							<div class="align-left">
							{{#foreach benefits as |benefit|}}
							<li>{{benefit}}</li>
							{{/foreach}}
						</ul>
						</div>
					</div>
					{{/if}}
				</div>
				<span class="global-button-wrapper">
				<a href="javascript:" data-portal="signup/{{id}}/monthly" class="membership-button global-button pointer-events-none" data-monthly>{{t "Sign up now"}}</a>
				<a href="javascript:" data-portal="signup/{{id}}/yearly" class="membership-button global-button pointer-events-none" data-yearly>{{t "Sign up now"}}</a>
				</span>
			</div>
			{{/foreach}}
			{{/get}}
			{{/if}}
		</div>
	</div>
	{{^if @member}}
	{{#if membership_page}}
	<small class="global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></small>
	{{/if}}
	{{/if}}
</div>
</div>
{{#contentFor "script_js"}}
<script>
!function(){const e=document.querySelector(".membership-switch"),r=document.querySelectorAll(".membership-switch button"),c=document.querySelectorAll(".membership-cards [data-monthly]"),l=document.querySelectorAll(".membership-cards [data-yearly]");c.length>0&&l.length>0&&r.forEach(r=>{e.style.display="flex",r.addEventListener("click",t=>{e.setAttribute("data-active-price",r.getAttribute("data-price"))})})}();
</script>
{{/contentFor}}