{{!-- members/tiers.hbs --}}

{{#if @product}}
    {{#if @product.monthly_price}}
        <a data-members-plan="{{@product.monthly_price.id}}">
            Sign up to {{@product.name}} for {{price @product.monthly_price}} a month
        </a>
    {{/if}}

    {{#if @product.yearly_price}}
        <a data-members-plan="{{@product.yearly_price.id}}">
            Sign up to {{@product.name}} for {{price @product.yearly_price}} annually
        </a>
    {{/if}}
{{else}}
    {{#foreach @products as |product|}}
        {{#if product.monthly_price}}
            <a data-members-plan="{{product.monthly_price.id}}">
                Sign up to {{product.name}} for {{price product.monthly_price}} a month
            </a>
        {{/if}}

        {{#if product.yearly_price}}
            <a data-members-plan="{{product.yearly_price.id}}">
                Sign up to {{product.name}} for {{price product.yearly_price}} annually
            </a>
        {{/if}}
    {{/foreach}}
{{/if}}
