{{!-- members/tiers.hbs --}}
{{#get "tiers" include="monthly_price,benefits" filter="type:paid"}}
    {{#foreach tiers}}
    <a class="pricing-table-plan" href="#" data-members-plan="Monthly">
    <div class="pricing-table it-checkout-plan">
            <header class="it-checkout-plan-header">
            <h3>{{name}}</h3>
            <span>{{description}}</span>
            </header>
            <ul class="it-checkout-plan-content">
                {{#foreach benefits as |benefit|}}
                    <li>{{benefit}}</li>
                {{/foreach}}
            </ul>
              <div class="it-button it-button-primary fit price-button" href="javascript:void(0)" data-portal="signup/{{id}}/monthly">{{t "Select"}} - {{price monthly_price currency=currency}} / {{t "Mo"}}?></div>
    </div>
    </a>
    {{/foreach}}
{{/get}}

    {{#get "tiers" include="anual_price,benefits" filter="type:paid"}}
    {{#foreach tiers}}
    <a class="pricing-table-plan" href="#" data-members-plan="Anual">
    <div class="pricing-table it-checkout-plan">
            <header class="it-checkout-plan-header">
            <h3>{{name}}</h3>
            <span>{{description}}</span>
            </header>
            <ul class="it-checkout-plan-content">
                {{#foreach benefits as |benefit|}}
                    <li>{{benefit}}</li>
                {{/foreach}}
            </ul>
              <div class="it-button it-button-primary fit price-button" href="javascript:void(0)" data-portal="signup/{{id}}/monthly">{{t "Select"}} - {{price monthly_price currency=currency}} / {{t "Mo"}}?></div>
    </div>
    </a>
    {{/foreach}}
{{/get}}